{% extends 'base.html' %}
{% load static %}
<!-- Header Close -->
{% block Slider_Start %}
<section class="page-title bg-1" style="background-image: url('{{ banner.banner_photo.url }}')">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">榮耀至上</span>
          <h1 class="text-capitalize mb-4 text-lg">榮獲獎項</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'index' %}" class="text-white">首頁</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">獲得獎項</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- section portfolio start -->

{% block Section_Intro_Start %}
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h3 text-color">我們獲得</span>
					<h2 class="mt-5 content-title">我們做了很多事情讓我們看看下列的獎項!</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row portfolio-gallery">
            {% for award in award_info %}
			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{{ award.award_photo.url }}" class="popup-gallery">

						<img src="{{ award.award_photo.url }}" alt="portfolio" class="img-fluid w-100">

						<i class="ti-plus overlay-item"></i>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">{{ award.big_title }}</h3>
							<p class="text-white-50">{{ award.little_title }}</p>
						</div>
					</a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</section>
{% endblock %}
<!-- section portfolio END -->
